<html>
  <head>
    <style>
      .container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 100px;
      }
      * {
        font-family: 'Open Sans', sans-serif;
      }

      body {
        margin: 0px;
      }

      * {
        box-sizing: border-box;
      }
      .s1 {
        display: grid;
        grid-template-columns: 40% 30%;
        justify-content: right;
      }
      .login {
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.5);

        height: 700px;
        color: white;
      }
      h1 {
        padding-top: 70px;
      }
      .user {
        padding-top: 20px;
      }
      h1 {
        color: white;
      }
      input {
        padding: 3px;
        /* margin-bottom: 30px; */
        width: 100%;
      }
      .div {
        margin-bottom: 30px;
      }

      #submit {
        background-color: rgb(8, 56, 8);
        width: 100%;
        padding: 5px;
        color: white;
      }
      .link {
        margin-top: 70px;
      }
      .link a {
        color: #1a128b;
      }
      .logo {
        padding-top: 600px;
      }
      .fogot a {
        color: #1a128b;
      }
      .error {
        padding-top: 5px;
        color: red;
        font-size: 15px;
      }
    </style>
  </head>

  <body class="main">
    <form name="Login" action="/auth/login" method="post">
      <div>
        <section>
          <div class="container">
            <div class="s1">
              <div class="Login">
                <div></div>
                <div>
                  <h1>Welcome !</h1>
                </div>
                <div class="user">
                  <div class="div">
                    <label for="email">Email</label><br />
                    <input type="text" id="email" name="email" />
                    <span id="email-error" class="error"></span>
                  </div>
                  <div class="div">
                    <label for="pass">Password</label><br />
                    <input type="text" id="pass" name="pass" />
                    <span id="pass-error" class="error"></span>
                  </div>

                  <div class="div">
                    <input
                      type="submit"
                      value="Sign In"
                      id="submit"
                      class="submit-btn"
                    />
                  </div>
                  <div class="link">
                    <p>
                      Don't Have an account?
                      <a href="/auth/register">Register Here</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="logo"></div>
            </div>
          </div>
        </section>
      </div>
    </form>
  </body>
</html>
