<!DOCTYPE html>
<head>
    <style>
        /*-----------------------------
# IMPORTS
- COLORS: https://codepen.io/luckyluu/pen/bGbLzXe
- BREAKPOINTS: https://codepen.io/luckyluu/pen/ZEzxLxR
- TYPO: https://codepen.io/luckyluu/pen/eYOMgXQ
- MIXIN: https://codepen.io/luckyluu/pen/jOOVgbE
- WOO: default components https://codepen.io/luckyluu/pen/GMpPgN
----------------------------- */
.woocommerce-order-overview {
  background: #f8f8f8;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
}


  li {
    padding: 1em 1.618em;
    font-size: 0.8em;
    width: 25%;
    text-transform: uppercase;
    border-right: 1px dotted #e3e3e3;
    text-align: center;
  }
    
    
    &:last-child {
      border-right: none;
    }
 


.woocommerce-table--customer-details {
  border: none;
}
    tbody th {
      background: #f8f8f8;
      padding-left: 25px;
    }
     
 
    tbody td {
      background: #fdfdfd;
      
      padding-bottom: 25px;
      text-align: center;
    }
 

/* TABLE ORDER DETAIL */
.shop_table.woocommerce-table--order-details {
  box-shadow: 0 0 5px rgba(#39b44a, 0.1);
}
  thead {
    background: #000;
    color: #fff;
  }
    th {
      border-bottom: none;
      font-weight: normal;
      font-size: .9rem;
      width: 200px;
    }
      &.product-name {
        text-align: left;
      }
   

 

    td {
      border-color: #f0f2f7;

    }
    div.backBtn {
  width: 100px;
  left: 100px;
  top: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
}

div.backBtn:hover span.label {
  left: 25px
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #F76060;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}
.header{
  display: grid;
  grid-template-columns: 30% 60%;
}
 

    </style>
</head>
<body>
  <div class="backBtn" onclick="back()">
    <span class="line tLine"></span>
    <span class="line mLine"></span>
    <span class="label">Back</span>
    <span class="line bLine"></span>
</div>
    <div style="margin-left:200px; max-width: 900px; padding: 66px">
         
        <h1 class="woocommerce-order-details__title">Order details</h1>
     
        
        <%for(var i = 0; i <orders.length; i++) { console.log('ejs',product[i])%>
        <div class="woocommerce-order">
           

           
            <section class="woocommerce-order-details">
                <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">
                  <thead>
                    <tr>
                      <th class="woocommerce-table__product-table product-number">Order Number</th>
                      
                      <th class="woocommerce-table__product-name product-name">Product</th>
                      <th class="woocommerce-table__product-table product-total">Amount</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                 
                    <tr class="woocommerce-table__line-item order_item">
                     
                     <td><strong><%=orders[i].id%></strong></td>
                      <td class="woocommerce-table__product-name product-name">
                        <%for(var j=0; j<product[i].length;j++){%>
                        <a href="https://demo.woothemes.com/storefront/product/standard-colander/"></a> <%=product[i][j].product.name%><strong class="product-quantity">×
                          <%=product[i][j].number_of_items %></strong> <br>
                          <%}%>
                        </td>
                        <td><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span><%=orders[i].total_amount%></span></strong></td>
                    </tr>
                 
                    
                  </tbody>
                 
                </table>
                
            </section>
          </div> <!-- woocommerce-order -->
       
        <%}%>
    </div>
    <script>
      function back(){
        location.assign('/user-dashboard/product')
      }
    </script>
</body>
</html>