<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      .container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 100px;
      }
      * {
        font-family: 'Open Sans', sans-serif;
      }

      body {
        margin: 0px;
      }

      * {
        box-sizing: border-box;
      }
      .s1 {
        display: grid;
        grid-template-columns: 40% 30%;
        justify-content: right;
      }
      .register {
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.5);

        height: 700px;
        color: white;
      }
      h1 {
        padding-top: 70px;
      }
      .user {
        padding-top: 20px;
      }
      h1 {
        color: white;
      }
      input {
        padding: 3px;
        /* margin-bottom: 30px; */
        width: 100%;
      }
      .div {
        margin-bottom: 30px;
      }

      #submit {
        background-color: rgb(8, 56, 8);
        width: 100%;
        padding: 5px;
        color: white;
      }
      .link {
        margin-top: 70px;
      }
      .link a {
        color: #1a128b;
      }
      .logo {
        padding-top: 600px;
      }
      .fogot a {
        color: #a4843f;
      }
      .error {
        padding-top: 5px;
        color: red;
        font-size: 15px;
      }
    </style>
  </head>

  <body class="main">
    <form name="Register" action="/auth/register" method="post">
      <div>
        <section>
          <div class="container">
            <div class="s1">
              <div class="register">
                <div></div>
                <div>
                  <h1>Welcome !</h1>
                </div>
                <div class="user">
                  <div class="div">
                    <label for="name">Name</label><br />
                    <input type="text" id="name" name="name" />
                  </div>
                  <div class="div">
                    <label for="email">Email</label><br />
                    <input type="text" id="email" name="email" onkeyup="emailCheck()"/>
                    <span id="email-error" class="error"></span>
                  </div>
                  <div class="div">
                    <label for="pass">Password</label><br />
                    <input type="text" id="pass" name="pass" />
                    <span id="pass-error" class="error"></span>
                  </div>

                  <div class="div">
                    <input
                      type="submit"
                      value="Sign Up"
                      id="submit"
                      class="submit-btn"
                    disabled/>
                  </div>
                  <div class="link">
                    <p>Have an account? <a href="/auth/login">Login Here</a></p>
                  </div>
                </div>
              </div>
              <div class="logo"></div>
            </div>
          </div>
        </section>
      </div>
    </form>

    <script>
      async function emailCheck(){
    var email= document.getElementById("email").value
     console.log(email);
     await axios.post(`/auth/email?email=${email}`).then(function (response) { 
      console.log("datt ===",response.data);

      if(response.data.email){
        console.log("already");
        var email= document.getElementById("email-error").innerText="Email is already registered"
        var email= document.getElementById("submit").disabled = true;


      }else{
        var email= document.getElementById("email-error").innerText="";
        var email= document.getElementById("submit").disabled = false;


      }
     })
  }
    </script>
  </body>
</html>
