<html>

<head>
    <link rel="stylesheet" href="public/css/register.css">
</head>

<body class="main" onmouseover="empty()">
    <form name="Register" action="/register" method="post" >
        <div>
            <section>
                <div class="container">
                    <div class="s1">
                        <div class="register">
                            <div>
                                <img src="public/images/logo.svg">
                            </div>
                            <div>
                                <h1>Welcome !</h1>
                            </div>
                            <div class="user">
                                <div class="div">
                                    <label for="name">Name</label><br>
                                    <input type="text" id="name" name="name">
                                </div>
                                <div class="div">
                                    <label for="email">Email</label><br>
                                    <input type="text" id="email" name="email" onkeyup="return emailValidation()"
                                        onchange=" return emailcheck()">
                                    <span id="email-error" class="error"></span>
                                </div>
                                <div class="div">
                                    <label for="pass">Password</label><br>
                                    <input type="text" id="pass" name="pass" onkeyup="return password()">
                                    <span id="pass-error" class="error"></span>
                                </div>
                                <div class="div">
                                    <label for="pass2">Confirm Password</label><br>
                                    <input type="password" id="pass2" name="pass2" onkeyup="return validate()">
                                    <span id="pass2-error" class="error"></span>
                                </div>
                                <div class="div">
                                    <input type="submit" value="Sign Up" id="submit" class="submit-btn" onclick="submit()">
                                   
                                </div>
                                <div class="link">
                                    <p>Don't have an account? <a href="/login">Login Here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="logo">
                            <img src="public/images/bottom-logo.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>



   
</body>

</html>